<html>
<head>
<title>PoE Chromatic Calculator</title>
<link rel="stylesheet" href="static/grid.css">
<link rel="stylesheet" href="static/webformat.css">

</head>

<body>

<form action="" method="post" name="data">
<div class="container">
    <div class="grid">

        <div class="grid__col grid__col--7-of-12 grid__col--centered header">
            <h1>PoE Chromatic Calculator</h1>
        </div>

        <!-- Category Labels -->
        <div class="grid__col grid__col--1-of-4">
            <p class="top-label">Desired Colors</p>
        </div>
        <div class="grid__col grid__col--1-of-4">
            <p class="top-label">Current Colors</p>
        </div>
        <div class="grid__col grid__col--1-of-4">
            <p class="top-label">Stat Requirements</p>
        </div>
        <div class="grid__col grid__col--1-of-4">
            <p class="top-label">Settings</p>
        </div>

        <!-- Sub Labels -->
        <div class="grid__col grid__col--1-of-12">
            Red
        </div>
        <div class="grid__col grid__col--1-of-12">
            Green
        </div>
        <div class="grid__col grid__col--1-of-12">
            Blue
        </div>

        <div class="grid__col grid__col--1-of-12">
            Red
        </div>
        <div class="grid__col grid__col--1-of-12">
            Green
        </div>
        <div class="grid__col grid__col--1-of-12">
            Blue
        </div>

        <div class="grid__col grid__col--1-of-12">
            STR
        </div>
        <div class="grid__col grid__col--1-of-12">
            DEX
        </div>
        <div class="grid__col grid__col--1-of-12">
            INT
        </div>

        <div class="grid__col grid__col--1-of-12">
            X
        </div>
        <div class="grid__col grid__col--1-of-12">
            NChr
        </div>
        <div width="1%"> <!-- Spacing so Chrome matches Firefox -->
        </div>

        <!-- Input Boxes -->
        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="des_r" maxlength="1" size="1" value="{{ c.des_r }}">
        </div>
        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="des_g" maxlength="1" size="1" value="{{ c.des_g }}">
        </div>
        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="des_b" maxlength="1" size="1" value="{{ c.des_b }}">
        </div>

        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="curr_r" maxlength="1" size="1" value="{{ c.curr_r }}">
        </div>
        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="curr_g" maxlength="1" size="1" value="{{ c.curr_g }}">
        </div>
        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="curr_b" maxlength="1" size="1" value="{{ c.curr_b }}">
        </div>

        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="str" maxlength="3" size="1" value="{{ c.str }}">
        </div>
        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="dex" maxlength="3" size="1" value="{{ c.dex }}">
        </div>
        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="int" maxlength="3" size="1" value="{{ c.int }}">
        </div>

        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="X" maxlength="3" size="1" value="{{ c.X }}">
        </div>
        <div class="grid__col grid__col--1-of-12">
            <input type="text" name="n_to_try" maxlength="4" size="1" value="{{ c.n_to_try }}">
        </div>
        <div class="grid__col grid__col--1-of-12"></div>

        <!-- Submit/Reset Button -->
        <br><br>
        <div class="grid__col grid__col--2-of-12">
            <input type="submit" value="Calculate">
        </div>
        <div class="grid__col grid__col--1-of-12">
            <input type="submit" formmethod="get" value="Reset">
        </div>

        <!-- Results Section, only display after calculation-->
        {% if c.intro_message == 0: %}
        <div class="grid__col grid__col--1-of-4"></div>
        <div class="grid__col grid__col--2-of-4">
            <p class="top-label">Results</p>
        </div>

        <div class="grid__col grid__col--1-of-2"></div>
        <div class="grid__col grid__col--2-of-12">
            Mean:
        </div>
        <div class="grid__col grid__col--1-of-12">
            {{ c.mean_chromes }}
        </div>
        <div class="grid__col grid__col--2-of-12"> % After NChr: </div>
        <div class="grid__col grid__col--1-of-12"> {{ c.prob_so_far }}</div>

        <div class="grid__col grid__col--2-of-4"></div>
        <div class="grid__col grid__col--2-of-12">
            Median:
        </div>
        <div class="grid__col grid__col--1-of-12">
            {{ c.median_chromes }}
        </div>
        <div class="grid__col grid__col--4-of-12"></div><!-- Spacing -->
        {% else %}
        <div class="grid__col grid__col--1-of-12"></div>
        {% endif %}
        <!-- End Results Section -->

        <!-- Graph Plot/Tutorial-->
        <div class="grid__col grid__col--8-of-12">
            {% if c.intro_message == 0: %}
                <br>
                <img src="{{ url_for('cdf_plot', n_prob = c.n_prob ) }}" width="100%">
            {% elif c.intro_message == 1: %}
                    <p class="top-label">Instructions</p>
                    Enter the number of sockets you want of each color under "Desired Sockets". If you know the current colors in your item, you can enter them under "Current Sockets".
                    <br><br>
                    Under "Stat Requirements", please enter the STR, DEX, and INT requirements as displayed exactly on your item.
                    <br><br>
                    "NChr" will give you the probability of getting your desired colors after rolling that many chromatic orbs.
                    <br><br>
                    For advanced users, "X" is a hidden parameter of the model. I recommend the default of 12, but you can play around with it. Higher values would make rolling off-colors easier.
                    <br>
            {% else %}
                <h3>Error!</h3>
                {% for error in c.error_message %}
                {{ error }}<br>
                {% endfor %}
                <!-- 30 Hail Marys have been given to atone for this horrible hack -->
                <br><br><br><br><br><br>
            {% endif %}
            <br><br>
            <footer>
            v1.0 by Lawphill, <a href="howitworks">Interested in how it works?</a><br>
            Help submit data <a href="https://docs.google.com/spreadsheet/ccc?key=0Ao1EUzXFpy4ldE00SWgwQVJhU0phX2dFdER2Z0FlTnc&usp=drive_web#gid=0">here</a><br>
            Special thanks to MantisPrayingMantis and <a href="http://reddit.com/r/pathofexile">r/pathofexile</a>
            </footer>
        </div>
    </div>
</div>
</form>

</body>
</html>
