<html>

<head>
<title>Chromatic Calculator - How Does it Work?</title>
<link rel="stylesheet" type="text/css" href="static/webformat.css">
<link rel="stylesheet" href="static/grid.css">
</head>

<body>
<div class="container">
    <div class="grid">
        <div class="grid__col grid__col--8-of-12 grid__col--centered header">
            <h1> How do Chromatic Orbs work?</h1>
        </div>
        
        <p>
        Let's start first with some facts about chromatic orbs:
        </p>
        <ul>
            <li> Just like jewelers and fusing orbs, chromatic orbs never return your item in the  <em>exact</em> same state, i.e. at least one socket will change colors.
            <li> The colors you roll are related to the stat requirements of the item, and <a href="www.pathofexile.com/forum/view-thread/529317#p4746200">lower requirements make rolling off-     colors easier</a>
        </ul>

        <p>
        This isn't a lot to work with. We don't, for instance, have confirmation that other factors like item level or item type don't play a role in the process. But let's assume for now that stat requirements are all that matter. If this is true, how exactly does a stat requirement influence the color of an item?
        </p>

        <h2> Stat requirements and rolling colors</h2>

        <p>
        One clue would be to look at how other orbs are rolled. During closed beta, Chris confirmed that for jewelers, <a href="www.pathofexile.com/forum/view-thread/20338#p317215"> the probability of rolling a specific number of sockets can be represented by an integer value</a>. So if 6 sockets is represented by 1 and all other sockets are represented by 305, the probability of a 6 socket is 1 out of 306.
        </p>

        <p>
        Applying this logic to chromatic orbs, I proposed the following: Every time you roll a chromatic orb, the color of each socket is rerolled independently of the other sockets. There's an integer weight for each color, one each for red, green, and blue. That weight is the stat requirement plus some number (we'll call it "X"). We need the variable X because even though a pure strength item has zero DEX requirement, it can still roll green sockets, they're just less likely than red ones.
        </p>

        <p>
        This means that the probability of getting a specific color socket on an item is a simple formula:
        </p>

        <p class="equation">(STAT + X) / (STR + DEX + INT + 3X)</p>

        <p>
        This takes care of the relationship between an item's stat requirements and the probability of rolling specific colors.
        </p>

        <h2> Checking for duplicate rolls </h2>

        <p>
        But what about not allowing the same colors to appear? To take care of this, a check is performed after all the rolls occur. If we ended up with the exact same item, we just repeat the process. This type of rejection sampling is inefficient, but should provide us with the same end result as whatever (hopefully more efficient) process GGG is actually using.
        </p>

        <h2> Determining the Value of X</h2>

        <p> OK, so how do we figure out what X is? First we needed to collect some data. For that purpose, I opened up a <a href="https://docs.google.com/spreadsheet/ccc?key=0Ao1EUzXFpy4ldE00SWgwQVJhU0phX2dFdER2Z0FlTnc#gid=0">Community Log</a> where people could enter in data. Right now we're sitting around 1600 chromatic orbs used! That might not seem like a lot, especially when you think about how 1600 orbs isn't necessarily enough to get a good 6 off-color Shavs. But because our estimation task is simple (there's only one variable, X, to learn) and because the value of X plays a role in the process multiple times per roll, this turns out to be more than enough to get a rough estimate. More data, however, is of course always better.
        </p>

        <p>
        If you're interested in details about how I have estimated X, I suggest you take a look at my <a href="http://www.pathofexile.com/forum/view-thread/761831">forum post</a>. Basically, I've used a Metropolis-Hastings algorithm, which although inefficient, gives me a probability distribution over X rather than a point value (also I know how to code them up easily...).
        </p>

        <h2> So how do we know this fits the data? </h2>

        <p>
        The model is extremely simple, but it's not of any use if it doesn't actually explain the data that we've collected so far.
        </p>

        <p>
        The way I've chosen to address this issue is using a statistical test called the Pearson's Chi-Squared test. We'll use that to measure the goodness of fit between the model's predictions and the actual empirical data. Essentially, if the test is significant, the model's predictions are wrong, and if it isn't significant then we can't conclude the model is wrong. Below are three model predictions that I've tested.
        </p>

        <!-- Sockets of Each Color -->
        <h3>Total number of sockets of each color</h3>

        <p>
        Here we measure how many red, green, and blue sockets occur in the data we've collected. We then see how many we would have expected if the statistical model was true. Because there's a lot of randomness involved in rolling chromatics, we run the model 5000 times (for X=12) and then average the results. We find that the expected results are not significantly different than the observed results (p=0.9168, chi2=0.1736, df=2).
        </p>

        <div class="grid__col grid__col--4-of-12 grid__col--centered">
        <table>
            <tr>
                <td colspan="4" style="text-align:center">Total # of Sockets</td>
            </tr>
            <tr>
                <td></td>
                <td>Red</td>
                <td>Green</td>
                <td>Blue</td>
            </tr>

            <tr>
                <td>Observed</td>
                <td>1099</td>
                <td>4488</td>
                <td>2477</td>
            </tr>

            <tr>
                <td>Expected</td>
                <td>1091.9</td>
                <td>4478.7</td>
                <td>2493.4</td>
            </tr>
        </table>
        </div>

        <!-- Items with N different colors -->
        <h3>Number of different colors per item</h3>

        <p>
        Another prediction of the model is how many items have only a single color, versus two different colors or three different colors (i.e. how many items are pure red, versus only red or blue, versus having all three colors at once). We simulate the data in the same manner as before and tally the results up. Again, we find no significant difference so we've again failed to rule out the model (p=0.3426,chi2=2.1422,df=2).
        </p>

        <div class="grid__col grid__col--6-of-12 grid__col--centered">
        <table>
            <tr>
                <td colspan="4" style="text-align:center">Items with N unique colors</td>
            </tr>
            <tr>
                <td></td>
                <td>One</td>
                <td>Two</td>
                <td>Three</td>
            </tr>

            <tr>
                <td>Observed</td>
                <td>421</td>
                <td>1120</td>
                <td>306</td>
            </tr>

            <tr>
                <td>Expected</td>
                <td>420.2</td>
                <td>1142.7</td>
                <td>284.1</td>
            </tr>
        </table>
        </div>

        <!-- Number of sockets per color on each item -->
        <h3>Number of sockets of each color per item</h3>

        <p>
        Here we measure for every item how many red, green, or blue sockets did it have. From that we can tally how likely is it that an item in our dataset would roll 4 blue sockets, for instance. Again, this is simulated as before, and comes out again non-significant (p=0.7783, chi2=4.8038, df=8). Note that because the chi2 test is not robust when there are multiple rare outcomes. Since in our corpus items with 6 of any color are very rare, this would throw off the results. Therefore, we add together all cells that have 4 or more of a specific color.
        </p>

        <div class="grid__col grid__col--6-of-12 grid__col--centered">
        <table>
            <tr>
                <td colspan="7" style="text-align:center">Number of sockets for each color</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">Observed</td>
                <td colspan="3">Expected</td>
            </tr>

            <tr>
                <td></td>
                <td>Red</td>
                <td>Green</td>
                <td>Blue</td>
                <td>Red</td>
                <td>Green</td>
                <td>Blue</td>
            </tr>

            <tr>
                <td>Zero</td>
                <td>1027</td>
                <td>262</td>
                <td>673</td>
                <td>1037.3</td>
                <td>259.9</td>
                <td>685.9</td>
            </tr>

            <tr>
                <td>One</td>
                <td>611</td>
                <td>255</td>
                <td>491</td>
                <td>595.5</td>
                <td>256.9</td>
                <td>489.3</td>
            </tr>

            <tr>
                <td>Two</td>
                <td>152</td>
                <td>333</td>
                <td>294</td>
                <td>158.7</td>
                <td>344.6</td>
                <td>269.2</td>
            </tr>

            <tr>
                <td>Three</td>
                <td>44</td>
                <td>528</td>
                <td>215</td>
                <td>44.3</td>
                <td>525.7</td>
                <td>219.1</td>
            </tr>

            <tr>
                <td>Four+</td>
                <td>13</td>
                <td>469</td>
                <td>174</td>
                <td>11.1</td>
                <td>459.9</td>
                <td>183.4</td>
            </tr>
        </table>
        </div>

        <p>
        So, not perfect but pretty good. Certainly, the model even with just a single parameter is able to account for the data we've collected so far without any real trouble. Of course, we can always use more data, so feel free to submit your own using the link in the footer!
        </p>

        <br>
        <footer>
        v1.0 by Lawphill, <a href="/">Back to the Calculator</a><br>
        Help submit data <a href="https://docs.google.com/spreadsheet/ccc?key=0Ao1EUzXFpy4ldE00SWgwQVJhU0phX2dFdER2Z0FlTnc&usp=drive_web#gid=0">here</a><br>
        Special thanks to MantisPrayingMantis and <a href="http://reddit.com/r/pathofexile">r/pathofexile</a>
        </footer>

    </div>
</div>

</body>
</html>
